html{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(177, 176, 176);
}

.wrapper{
    padding: 20px;
    max-width: 350px;
    background: rgba(253, 253, 253, 0.95);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.75);
}
